.container {
    margin-top: 140px;
}

.title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btn button {
    width: 120px;
    height: 34px;
    font-family: "Nunito";
    font-size: 16px;
    line-height: 26px;
    border-radius: 80px;
    background-color: #F4E041;
    border: none;
}
